form {
    border: 1px solid #545454;
    border-radius: 3px;
    padding: 40px;
    // border: 1px solid red;

    &:hover {
        background: #333;
        color: #fff;
        transition: ease 0.7s all;
    }
}

input {
    padding: 5px 20px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
}
